/**
 * Home components
 *
 * Contains all CSS rules related to the homepage
 *
 * Component root selector: .home
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


//
// Variables

$home-body-padding: $size-xxxxlarge-plus;


//
// Rules

.home {
    &__container {
        display: flex;
            flex-direction: column;
            justify-content: center;
        min-height: 100vh;
        padding: $home-body-padding 0;
    }

    &__content,
    &__intro {
        margin: 0 auto;
        max-width: 60rem;
        width: 85%;
    }

    &__content {
        & :last-child {
            margin-bottom: 0;
        }

        & a {
            &:focus,
            &:hover {
                margin: 0 .25em;

                &::before {
                    left: -.25em; right: -.25em;
                }
            }

            &[href^="https://www.fairphone.com"] {
                &:focus,
                &:hover {
                    color: $color-black;

                    &:before {
                        background: $color-fairphone;
                    }
                }
            }

            &[href^="https://vc4a.com"],
            &[href^="https://services.vc4a.com"] {
                &:focus,
                &:hover {
                    color: $color-black;

                    &:before {
                        background: $color-vc4a;
                    }
                }
            }

            &[href^="https://raccoon.studio"] {
                &:focus,
                &:hover {
                    color: $color-white;

                    &:before {
                        background: $color-raccoon;
                    }
                }
            }
        }

        & p {
            margin-bottom: 1em;
            font-size: 2.8rem;

            &::after {
                position: absolute;
                display: inline-block;
                content: '¬';
                margin-left: .3em;
                color: currentColor;
                font-size: .5em;
                line-height: 3;
                opacity: .25;
            }

            &.collaboration {
                color: $color-gray-light;

                &::before {
                    position: absolute;
                    content: "\2318";
                    margin-left: -1.35em;
                    margin-top: .5rem;
                    color: currentColor;
                    font-size: .85em;
                    opacity: .5;
                }
            }
        }

        & strong {
            font-weight: 600;
        }
    }

    &__title {
        position: relative;
        margin-bottom: .35em;
        font-family: $font-family-base;
        font-size: 2.5em;
        font-weight: 700;

        &::after {
            content: ',';
            color: $color-brand-primary;
        }
    }
}
