/**
 * Titles design
 *
 * This file contains the CSS design for generic titles
 * and some mixins you can use on titles.
 */


@mixin linebreak-sign-after() {
    &::after {
        position: absolute;
        display: inline-block;
        content: '\2319';
        margin-left: .3em;
        color: currentColor;
        font-size: .5em;
        line-height: 2.4;
        opacity: .15;
        transform: rotate(180deg);
    }
}
