/**
 * Titles design
 *
 * This file contains the CSS design for generic titles
 * and some mixins you can use on titles.
 */


/**
 * Formats the title to be in uppercase with the title font family
 */
@mixin uppercase-title() {
    font-family: $font-family-title;
    font-weight: 800;
    hyphens: manual;
    text-transform: uppercase;
}


/**
 * Create a small linebreak sign after the title with a pseudo element
 */
@mixin linebreak-sign-after() {
    position: relative;
    line-height: 1;

    &::after {
        position: absolute;
        display: inline-block;
        content: '¬';
        margin-left: .3em;
        color: currentColor;
        font-size: .5em;
        line-height: 2;
        opacity: .25;
    }

    & a {
        line-height: 1;
    }
}


/**
 * Formats the title to be in uppercase with the title font family and adds
 * a small linebreak sign after the title with a pseudo element
 */
@mixin uppercase-hyphens-title() {
    @include uppercase-title();
    @include linebreak-sign-after();
}


/**
 * Puts the sended content into a rule for all titles
 */
@mixin title-tags {
    @for $i from 2 through 6 {
        h#{$i} {
            @content
        }
    }
}
