/**
 * WordPress utilities
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


//
// Rules

$wp-admin-bar-mobile:       46px;
$wp-admin-bar-desktop:      32px;

/**
 * Adds a padding-top to body when the admin-bar is showed
 */
body.admin-bar {
    padding-top: $wp-admin-bar-desktop;

    @media (max-width: 782px) {
        padding-top: $wp-admin-bar-mobile;
    }
}
