/**
 * Page header component CSS
 *
 * Contains all CSS rules used by the page-header component.
 * This component displays a specific header column for the current page
 *
 * Component root selector: .page-header
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


.page-header {
    &__header {
        @include media-breakpoint-up(lg) {
            display: flex;
                flex-direction: column;
            height: 100vh;
            min-width: 30rem;
            width: 25vw;
        }
    }

    &__intro {
        display: flex;
            align-items: center;
        padding: $padding-block;
        background: $color-brand-primary;
        color: $color-gray-dark;

        & :last-child {
            margin-bottom: 0;
        }

        @include media-breakpoint-up(lg) {
            min-height: 25vh;
            background: $color-gray-dark;
            color: $color-gray-lightest;
        }
    }

    &__previous-link {
        display: none;

        @include media-breakpoint-up(lg) {
            position: absolute;
                top: 0; left: 0;
            display: block;
            height: 4.4rem;
            margin: 2.5rem;
            width: 4.4rem;
            background-color: $color-white;
            border-radius: 50%;

            &::before,
            &::after {
                position: absolute;
                    left: calc(50% - .8rem);
                display: block;
                height: .2rem;
                width: 1rem;
                content: '';
                background: $color-gray-dark;
                pointer-events: none;
            }

            &::before {
                bottom: 50%;
                transform: rotate(-45deg) translateX(3px);
            }

            &::after {
                top: 50%;
                transform: rotate(45deg) translateX(3px);
            }

            a {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }

    &__title {
        @include uppercase-title();
        display: flex;
            flex-direction: column;
            justify-content: flex-end;
        height: auto;
        margin: 0;
        min-height: 35vh;
        padding: $padding-large;
        padding-top: $padding-xlarge + $nav-button-complete-size;
        background: $color-gray-lightest;
        color: $color-gray-dark;
        font-size: 10vw;
        hyphens: auto;
        line-height: 1.3;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            flex: 1;
            font-size: 2.65vw;
        }

        & span {
            display: block;
            font-size: .65em;
        }
    }
}


//
// Portfolio & Blog specific styles


.page-header {
    .blog &,
    .portfolio & {
        &__title {
            @include uppercase-hyphens-title();
            font-size: 18vw;
        }
    }

    .blog &,
    .portfolio &,
    .work & {
        &__title {
            @include media-breakpoint-up(lg) {
                font-size: 4.5vw;
            }
        }
    }
}
