/**
 * Hiwelo's project sizes
 *
 * Summary:
 *   1. Generic sizes
 */


//
// 1. Generic sizes

$size-null:             0;
$size-unit:             .1rem;
$size-double:           .2rem;
$size-triple:           .3rem;
$size-tiny:             .5rem;
$size-tiny-plus:        .8rem;
$size-decimal:          1rem;
$size-small:            1.5rem;
$size-small-plus:       2rem;
$size-medium:           2.5rem;
$size-medium-plus:      3rem;
$size-large:            3.5rem;
$size-large-plus:       4rem;
$size-xlarge:           4.5rem;
$size-xlarge-plus:      5rem;
$size-xxlarge:          5.5rem;
$size-xxlarge-plus:     6rem;
$size-xxxlarge:         6.5rem;
$size-xxxlarge-plus:    7rem;
$size-xxxxlarge:        7.5rem;
$size-xxxxlarge-plus:   8rem;


//
// 2. Padding sizes

$padding-null:          $size-null;
$padding-small:         $size-tiny-plus;
$padding-medium:        $size-small;
$padding-large:         $size-medium;
$padding-xlarge:        $size-large;
$padding-xxlarge:       $size-xxxlarge-plus;

$padding-block:         $padding-xxlarge $padding-xxlarge / 2;
$padding-block-small:   $padding-large $padding-xxlarge / 2;

$margin-null:           $size-null;
$margin-small:          $size-tiny-plus;
$margin-medium:         $size-small;
$margin-large:          $size-medium;
$margin-xlarge:         $size-large;
$margin-xxlarge:        $size-xxxlarge-plus;
