/**
 * Global component
 *
 * Contains all CSS rules related to the page except the front-page
 *
 * Component root selector: .global:not(.home)
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


//
// Variables

$global-content-gutter:     $padding-xxlarge;

//
// Rules

.global {
    &__content {
        padding: $global-content-gutter;
    }

    &__title {
        margin-bottom: $global-content-gutter;
        font-size: $font-size-h1;
    }
}
