/**
 * Main navigation component
 *
 * Contains all CSS rules used by the main navigation
 *
 * Component root selector: .main-nav
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


//
// Variables

$nav-background:            $color-yellow;
$nav-color:                 $color-black;
$nav-item-selected-color:   $color-black;
$nav-max-width:             95vw;
$nav-min-width:             250px;
$nav-width:                 450px;
$nav-button-bar-height:     4px;
$nav-button-close-color:    $color-black;
$nav-button-margin:         $size-medium;
$nav-button-open-color:     $nav-color;
$nav-button-size:           28px;
$nav-items-side-padding:    $size-xlarge-plus;


//
// Rules

.main-nav {
    position: absolute;
        top: 0; left: 0;
    display: block;

    .admin-bar & {
        top: $size-medium-plus;
    }

    &__button {
        position: fixed;
        height: $nav-button-size;
        margin-bottom: 0;
        width: $nav-button-size;
        margin-top: $nav-button-margin;
        margin-left: $nav-button-margin;
        cursor: pointer;
        z-index: 100;

        &,
        & > span {
            &::before,
            &::after {
                position: absolute;
                display: inline-block;
                content: '';
                height: $nav-button-bar-height;
                width: $nav-button-size;
                background: $nav-button-close-color;
                opacity: 1;
                transition: background .5s ease,
                            top .4s ease .3s,
                            bottom .4s ease .3s,
                            transform .2s ease;

                input:checked + .main-nav__wrapper & {
                    background: $nav-button-open-color;
                    transition: background .5s ease,
                                transform .2s ease .6s,
                                top .4s ease .2s,
                                bottom .4s ease .2s;
                }
            }
        }

        & > span {
            &::before {
                top: $nav-button-bar-height;
            }

            &::after {
                bottom: 0;
            }

            input:checked + .main-nav__wrapper & {
                &::before {
                    top: 50%;
                    transform: translateZ(0) rotate(45deg);
                }

                &::after {
                    bottom: calc(50% - #{$nav-button-bar-height});
                    transform: translateZ(0) rotate(-45deg);
                }
            }
        }

        &::before,
        &::after {
            top: 50%;
        }

        &::before {
            input:checked + .main-nav__wrapper & {
                transform: rotate(45deg);
            }
        }

        &::after {
            input:checked + .main-nav__wrapper & {
                transform: rotate(-45deg);
            }
        }
    }

    &__content {
        position: fixed;
            top: 0; left: -100%; bottom: 0;
        display: flex;
            flex-direction: column;
            justify-content: flex-start;
        min-width: $nav-min-width;
        max-width: $nav-max-width;
        padding-top: calc(#{$nav-button-margin} * 2 + #{$nav-button-size});
        width: $nav-width;
        background: rgba($nav-background, .98);
        color: $nav-color;
        transition: left 1s ease;
        z-index: 50;

        input:checked + .main-nav__wrapper & {
            left: 0;
        }

        .admin-bar & {
            top: $wp-admin-bar-desktop;
        }
    }

    &__link {
        position: relative;
        display: block;
        padding: $size-small $nav-items-side-padding;
        color: $nav-color;
        font-size: $font-size-h3;
        transition: color .2s ease;

        &::before {
            @extend .u-gpu;
            position: absolute;
                top: $size-small; left: 0; bottom: $size-small;
                right: calc(100% - #{$nav-button-bar-height} / 2);
            display: block;
            content: '';
            background: $nav-color;
            transition: top .3s ease .4s,
                        bottom .3s ease .4s,
                        right .4s ease,
                        background .3s ease .4s;
            z-index: -1;
        }

        &:focus,
        &:hover {
            color: $nav-item-selected-color;
            text-decoration: none;
            transition: color .2s ease .3s;

            &::before {
                top: 0; bottom: 0;
                right: ~"calc(#{$nav-button-bar-height} * 2)";
                background: $color-white;
                transition: top .3s ease,
                            bottom .3s ease,
                            right .4s ease .3s,
                            background .3s ease;
            }
        }

        &[href^="https://raccoon.studio"] {
            &:focus,
            &:hover {
                color: $color-white;

                &::before {
                    background: $color-raccoon;
                }
            }
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    &__overlay {
        position: fixed;
            top: 0; bottom: 0; left: -100%;
        margin-bottom: 0;
        width: 100vw;
        background: $color-gray-lighter;
        opacity: 0;
        transition: opacity 1s ease;
        z-index: 40;

        input:checked + .main-nav__wrapper & {
            left: 0;
            opacity: .5;
        }
    }

    &__social {
        list-style: none;
        margin-top: auto;
        padding: $nav-button-margin $nav-items-side-padding;

        &-item {
            display: inline-block;
            margin: $size-triple 0;
            margin-right: $size-small;
        }

        &-link {
            position: relative;
            display: inline-block;
            padding: $size-triple 0 $size-double;
            color: $nav-color;
            font-size: $font-size-h5;
            text-decoration: none;
            transition: color .2s, margin .2s;

            &::before {
                position: absolute;
                    top: calc(100% - .2rem); left: 0; right: 0; bottom: 0;
                content: '';
                background: $nav-color;
                transition: background .2s, top .2s, left .2s, right .2s;
                z-index: -1;
            }

            &::after {
                @extend .icon;
                display: none;
                padding-left: $size-tiny;
                color: inherit;
                font-size: .85em;

                @include media-breakpoint-up(sm) {
                    display: inline;
                }
            }

            &:focus,
            &:hover {
                color: $color-white;
                margin: 0 .8rem;
                text-decoration: none;

                &::before {
                    top: 0; left: -.8rem; right: -.8rem;
                }
            }

            &[href^="https://twitter.com"] {
                &:hover::before {
                    background: $color-twitter;
                }
                &::after { content: $icon-twitter; }
            }

            &[href^="https://github.com"] {
                &:hover::before {
                    background: $color-github;
                }
                &::after { content: $icon-github; }
            }

            &[href^="https://linkedin.com"] {
                &:hover::before {
                    background: $color-linkedin;
                }
                &::after { content: $icon-linkedin; }
            }

            &[href^="https://dribbble.com"] {
                &:hover::before {
                    background: $color-dribbble;
                }
                &::after { content: $icon-dribbble; }
            }

            &[href^="https://instagram.com"] {
                &:hover::before {
                    background: $color-instagram;
                }
                &::after { content: $icon-instagram; }
            }

            &[href^="https://www.flickr.com"] {
                &:hover::before {
                    background: $color-flickr;
                }
                &::after { content: $icon-flickr; }
            }

            &[href^="https://speakerdeck.com"] {
                &:hover::before {
                    background: $color-speakerdeck;
                }
                &::after { content: $icon-presentation; }
            }

            &[href^="https://lanyrd.com"] {
                &:hover::before {
                    background: $color-lanyrd;
                }
                &::after { content: $icon-lanyrd; }
            }
        }
    }
}
