/**
 * Main navigation component
 *
 * Contains all CSS rules used by the main navigation
 *
 * Component root selector: .main-nav
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


//
// Variables

$nav-button-size:           28px;
$nav-button-bar-height:     4px;
$nav-button-margin:         $size-medium;
$nav-background:            $color-brand-a11y;
$nav-color:                 $color-white;
$nav-button-close-color:    $nav-background;
$nav-button-open-color:     $nav-color;



//
// Rules

.main-nav {
    position: absolute;
        top: 0; left: 0;
    display: block;

    .admin-bar & {
        top: $size-medium-plus;
    }

    &__button {
        position: relative;
        height: $nav-button-size;
        margin-bottom: 0;
        width: $nav-button-size;
        margin-top: $nav-button-margin;
        margin-left: $nav-button-margin;
        cursor: pointer;
        z-index: 100;

        &,
        & > span {
            &::before,
            &::after {
                position: absolute;
                display: inline-block;
                content: '';
                height: $nav-button-bar-height;
                width: $nav-button-size;
                background: $nav-button-close-color;
                opacity: 1;
                transition: background .5s ease,
                            top .4s ease .3s,
                            bottom .4s ease .3s,
                            transform .2s ease;

                input:checked + .main-nav__content & {
                    background: $nav-button-open-color;
                    transition: background .5s ease,
                                transform .2s ease .6s,
                                top .4s ease .2s,
                                bottom .4s ease .2s;
                }
            }
        }

        & > span {
            &::before {
                top: $nav-button-bar-height;
            }

            &::after {
                bottom: 0;
            }

            input:checked + .main-nav__content & {
                &::before {
                    top: 50%;
                    transform: translateZ(0) rotate(45deg);
                }

                &::after {
                    bottom: calc(50% - #{$nav-button-bar-height});
                    transform: translateZ(0) rotate(-45deg);
                }
            }
        }

        &::before,
        &::after {
            top: 50%;
        }

        &::before {
            input:checked + .main-nav__content & {
                transform: rotate(45deg);
            }
        }

        &::after {
            input:checked + .main-nav__content & {
                transform: rotate(-45deg);
            }
        }
    }

    &__link {
        position: relative;
        display: block;
        padding: $size-small $size-xlarge-plus;
        color: $nav-color;
        font-size: $font-size-h3;
        transition: color .2s ease .3s;

        &::before {
            @extend .u-gpu;
            position: absolute;
                top: $size-small; left: 0; bottom: $size-small;
                right: calc(100% - #{$nav-button-bar-height} / 2);
            display: block;
            content: '';
            background: $nav-color;
            transition: top .3s ease .4s,
                        bottom .3s ease .4s,
                        right .4s ease,
                        background .3s ease .4s;
            z-index: -1;
        }

        &:focus,
        &:hover {
            color: $nav-background;
            text-decoration: none;

            &::before {
                top: 0; bottom: 0;
                right: $nav-button-bar-height;
                background: $color-white;
                transition: top .3s ease,
                            bottom .3s ease,
                            right .4s ease .3s,
                            background .3s ease;
            }
        }

        &[href^="https://raccoon.studio"] {
            &:focus,
            &:hover {
                color: $color-white;

                &::before {
                    background: $color-raccoon;
                }
            }
        }
    }

    &__list {
        position: fixed;
            top: 0; left: -100%; bottom: 0;
        display: flex;
            flex-direction: column;
            justify-content: center;
        margin-bottom: 0;
        min-width: 250px;
        padding: 15rem 0;
        width: 50vw;
        background: rgba($nav-button-close-color, .98);
        color: $nav-color;
        list-style: none;
        transition: left 1s ease;
        z-index: 50;

        input:checked + .main-nav__content & {
            left: 0;
        }
    }

    &__overlay {
        position: fixed;
            top: 0; bottom: 0; left: -100%;
        margin-bottom: 0;
        width: 100vw;
        background: $color-gray-lighter;
        opacity: 0;
        transition: opacity 1s ease;
        z-index: 40;

        input:checked + .main-nav__content & {
            left: 0;
            opacity: .5;
        }
    }
}
