/**
 * Portfolio summary component
 *
 * Contains all CSS rules related to the summary of a work in my portfolio
 *
 * Component root selector: .portfolio-summary
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


.portfolio-summary {
    &__content {
        padding: $size-small;
        background: $color-gray-lightest;
    }

    &__header {
        margin-bottom: $size-triple;
        padding: $size-small;
        background: $color-yellow;
        color: $color-black;
    }

    &__link {
        color: inherit;

        &:focus,
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }

    &__thumbnail {
        height: 300px;
        width: 300px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title {
        margin-bottom: 0;
        line-height: 1.15;
    }
}
