/**
 * REM Reset
 */


html {
    font-size: .45em; /* fallback IE8+ */
    font-size: calc(1em * .45);

    @media (min-width: 450px) {
        font-size: .525em; /* fallback IE8+ */
        font-size: calc(1em * .525);
    }

    @media (min-width: 650px) {
        font-size: .625em; /* fallback IE8+ */
        font-size: calc(1em * .625);
    }
}

body {
    font-size: 1.6rem;
}
