{% extends 'generic/layout.twig' %}

{% block content %}
    {% include 'generic/page-header.twig' %}
    <section class="archive__content global__content">
        {% if posts %}
            {% for post in posts %}
                {% include 'portfolio/summary.twig' %}
            {% endfor %}
        {% endif %}
    </section><!-- .portfolio__content -->
{% endblock %}
