/**
 * Portfolio single content terms list component SCSS
 *
 * Component root selector: .work-terms
 */


.work-terms {
    & {
        display: flex;
            flex-wrap: wrap;
            justify-content: center;
        margin: 0;
        margin-bottom: $margin-large;
        padding: 0;
        list-style: none;
    }

    &__item {
        &:not(:only-child):not(:last-child)::after {
            display: inline-block;
            padding: 0 .25em 0 0;
            content: '+';
            color: inherit;
            font-family: $font-family-title;
            font-weight: 400;
            line-height: inherit;
            opacity: .35;
        }
    }
}
