/**
 * Archive's pages global SCSS
 *
 * Component root selector: .archive
 */


body:not(.home) .global {
    &__container {
        position: relative;
        display: flex;
            flex-direction: column;
        min-height: 100vh;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    &__content {
        @include media-breakpoint-up(lg) {
            flex: 1;
            height: 100vh;
            overflow-y: scroll;
        }
    }
}


//
// Taxonomies specific design

.archive[class*='tax-'] .global {
    &__title {
        font-size: 10vw;
        hyphens: auto;

        @include media-breakpoint-up(sm) {
            font-size: 8vw;
        }

        @include media-breakpoint-up(md) {
            font-size: 6vw;
        }

        @include media-breakpoint-down(md) {
            height: 35vh;
        }

        @include media-breakpoint-up(lg) {
            font-size: 2.6vw;
        }
    }
}
