/**
 * Archive's pages global SCSS
 *
 * Component root selector: .archive
 */


.archive .global {
    &__container {
        display: flex;
            flex-direction: column;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    &__header {
        display: flex;
        min-height: 30rem;
        height: 30vh;
        background: $color-gray-lightest;
        overflow: hidden;
    }

    &__title {
        margin: auto;
        color: $color-gray-light;
        font-size: 25vw;
        line-height: 1;
    }
}
