/**
 * Portfolio single content SCSS
 *
 * Component root selector: .work
 */


.work {
    &__header {
        height: auto;
        min-height: 35vh;
        padding: $padding-xlarge;
        padding-top: $padding-xlarge + $nav-button-complete-size;
    }

    &__infobox {
        padding: $padding-xlarge;

        &-title {
            @include sr-only();
        }
    }

    &__title {
        @include uppercase-hyphens-title();
        margin: 0;
        font-size: 12vw;
    }
}
