{% extends 'generic/layout.twig' %}

{% block mainClasses %}portfolio{% endblock %}

{% block content %}
    <section class="portfolio__content">
        <header class="portfolio__header">
            <h1 class="portfolio__title">{{postType.label}}</h1>
        </header>
        {% if posts %}
            {% for post in posts %}
                {% include 'portfolio/summary.twig' %}
            {% endfor %}
        {% endif %}
    </section><!-- .portfolio__content -->
{% endblock %}
